body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  justify-content: center;
  background-color: white;
  height: 100vh;
  cursor: text;
}

.portfolio-container {
  max-width: 800px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title, .description {
  width: 800px;
  padding: 10px 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: none;
  background-color: white;
  font-size: 24px;
  color: grey;
}

.description {
  font-size: 18px;
}

.editor {
  width: 800px;
  min-height: 100px; /* Adjust min-height to 100px */
  border: none;
  padding: 40px 15px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  margin-top: 0;
  font-size: 18px;
  cursor: text;
}

.toolbar {
  position: absolute;
  display: flex;
  background: black;
  border-radius: 5px;
  z-index: 10;
  padding: 5px;
}

.toolbar button {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.font-size-adjust {
  display: flex;
  flex-direction: column;
}

.plus-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.plus-button {
  font-size: 24px;
  border: none;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: 1px; }
